{
  "openapi": "3.1.0",
  "info": {
    "title": "Sendazi API",
    "description": "The Sendazi API allows you to send SMS and Voice campaigns, manage contacts and groups, handle billing, and integrate messaging into your applications.\n",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.sendazi.com/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "SMS Campaigns"
    },
    {
      "name": "Voice Campaigns"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Sender IDs"
    },
    {
      "name": "Message Templates"
    },
    {
      "name": "User"
    },
    {
      "name": "API Keys"
    },
    {
      "name": "Payments"
    }
  ],
  "paths": {
    "/sms-campaigns": {
      "get": {
        "tags": [
          "SMS Campaigns"
        ],
        "summary": "List SMS campaigns",
        "description": "Returns a paginated list of SMS campaigns.",
        "responses": {
          "200": {
            "description": "SMS campaigns list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCampaigns"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "SMS Campaigns"
        ],
        "summary": "Create SMS campaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaign"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      }
    },
    "/sms-campaigns/{uuid}": {
      "get": {
        "tags": [
          "SMS Campaigns"
        ],
        "summary": "Get SMS campaign",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      }
    },
    "/sms-campaigns/{uuid}/recipients": {
      "get": {
        "tags": [
          "SMS Campaigns"
        ],
        "summary": "Get campaign recipients",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign recipients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recipient"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/voice-campaigns": {
      "get": {
        "tags": [
          "Voice Campaigns"
        ],
        "summary": "List voice campaigns",
        "responses": {
          "200": {
            "description": "Voice campaigns list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCampaigns"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Voice Campaigns"
        ],
        "summary": "Create voice campaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaign"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List contacts",
        "responses": {
          "200": {
            "description": "Contacts list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create contact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created"
          }
        }
      }
    },
    "/contacts/assign-group": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Assign contacts to groups",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contacts assigned to groups"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "List groups",
        "responses": {
          "200": {
            "description": "Groups list"
          }
        }
      },
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Create group",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created"
          }
        }
      }
    },
    "/sender-ids": {
      "get": {
        "tags": [
          "Sender IDs"
        ],
        "summary": "List sender IDs",
        "responses": {
          "200": {
            "description": "Sender IDs list"
          }
        }
      },
      "post": {
        "tags": [
          "Sender IDs"
        ],
        "summary": "Request sender ID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SenderId"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sender ID requested"
          }
        }
      }
    },
    "/message-templates": {
      "get": {
        "tags": [
          "Message Templates"
        ],
        "summary": "List message templates",
        "responses": {
          "200": {
            "description": "Templates list"
          }
        }
      },
      "post": {
        "tags": [
          "Message Templates"
        ],
        "summary": "Create message template",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageTemplate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template created"
          }
        }
      }
    },
    "/user/balance": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get wallet balance",
        "responses": {
          "200": {
            "description": "Wallet balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Balance"
                }
              }
            }
          }
        }
      }
    },
    "/payments/paystack/verify/{reference}": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Verify Paystack payment",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verified"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Campaign": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_recipients": {
            "type": "integer"
          },
          "messages_sent": {
            "type": "integer"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateCampaign": {
        "type": "object",
        "required": [
          "name",
          "message"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "group_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sender_id": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time"
          },
          "is_recurring": {
            "type": "boolean"
          },
          "recurrence_frequency": {
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "monthly"
            ]
          },
          "recurrence_interval": {
            "type": "integer"
          },
          "recurrence_ends_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginatedCampaigns": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "AssignGroup": {
        "type": "object",
        "properties": {
          "contact_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "group_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "SenderId": {
        "type": "object",
        "properties": {
          "sender_id": {
            "type": "string"
          },
          "purpose": {
            "type": "string"
          }
        }
      },
      "MessageTemplate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "sms",
              "voice"
            ]
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number",
            "format": "float"
          }
        }
      }
    }
  }
}